* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  
  @apply box-border;
}

html,
body,
#app {
  @apply h-full;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, svg {
  display: initial;
}

label {
  @apply block text-sm font-semibold text-gray-600;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #fff;
}

*::-webkit-scrollbar-button {
  display: none;
}


